{% if projects %}
{% for project in projects %}
    {% if project.deleted %}
    {% else %}
	<div class="panel panel-success">
	    <div class="panel-heading">{{ project.name }}</div>
	    <div class="panel-body">
	        <div class="col-sm-7">
		        <p>URL: {{ project.url }}</p>
		        <p>Info: {{ project.requirements }}</p>
		        <p>Id: {{ project.id }}</p>
	        </div>
	        <div class="col-sm-5">
	           {% if project.configured %}
               <div class="dropup">
                    <form action="{{ url_for('projects.delete') }}" method="post">  
                        {{ form.csrf_token }}
                        <input type="hidden" value="{{ project.id }}" name="project_to_delete_id"></input>
                            <button type="submit" value="download" name="download" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span>{{ _('Download') }}</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% if project.download_filetype %}
                                    {% if "CSV" in project.download_filetype %}<li><a href="/projects/download/{{ project.id }}/csv">CSV : {{ project.name }}.csv</a></li>{% endif %}
                                    {% if "Sqlite" in project.download_filetype %}<li><a href="/projects/download/{{ project.id }}/sqlite">Sqlite : {{ project.name }}.sqlite</a></li>{% endif %}
                                    {% if "Text" in project.download_filetype %}<li><a href="/projects/download/{{ project.id }}/text">Text : {{ project.name }}.txt</a></li>{% endif %}
                                {% else %}
                                    <li class="disabled"><a href="#">CSV : {{ project.name }}.csv</a></li>
                                    <li class="disabled"><a href="#">Sqlite : {{ project.name }}.sqlite</a></li>
                                    <li class="disabled"><a href="#">Text : {{ project.name }}.txt</a></li>
                                {% endif %}
                            </ul>
                        <button type="submit" value="update" name="update" class="btn btn-info">{{ _('Update') }}</button>
                        <button type="submit" value="delete" name="delete" class="btn btn-danger">{{ _('Delete') }}</button>    
                    </form>
                </div>
                {% else %}
	                <form action="{{ url_for('projects.delete') }}" method="post">
	                    {{ form.csrf_token }}
	                    <button type="submit" value="download" name="download" class="btn btn-default" disabled>{{ _('Download') }}</button>
	                    <button type="submit" value="update" name="update" class="btn btn-info" disabled>{{ _('Update') }}</button>
	                    <button type="submit" value="delete" name="delete" class="btn btn-danger" disabled>{{ _('Delete') }}</button>
	                </form> 
                {% endif %}
	        </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% else %}
   <p>{{ 'No projects have been created yet.' }}
{% endif %}