
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }}  - Dashboard{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="col-sm-8">
            <h1>Current Projects</h1>            
               {% include 'projects/_projects.html' %}          
        </div>
        <div class="col-sm-4">
            <h1>Create new Project</h1>
            <p>Please fill the form below. We shall get back to you with the quote.</p>
            {{ wtf.quick_form(form) }}
   		</div>

</div>
{% endblock %}