{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }}{% endblock %}


{% block page_content %}
<div class="page-header">
   <h1>Hello , {% if current_user.is_authenticated %}{{ current_user.username }} and the id of the user is {{ current_user.id }}{% else %}Stranger{% endif %}!</h1>
</div>
{% endblock %}