{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }}- {{ _('Deleted Projects') }}{% endblock %}


{% block page_content %}
<div class="page-header">
    <div class="col-sm-8">
        <h1>{{ _('All deleted Projects') }}</h1>
        <div class="panel panel-success">
        {% for project in projects %}
            <div class="panel-heading">{{ project.name }}</div>
                <div class="panel-body">
                <div class="col-sm-7">
                    <p>URL: {{ project.url }}</p>
                    <p>Info: {{ project.requirements }}</p>
                    <p>Id: {{ project.id }}</p>
                    <p>UserId: {{ project.author_id }}</p>
                </div>
                <div>
			        <form method="post" action="{{ url_for('admin.deleted_project') }}">
			            {{ form.csrf_token }}
			            {{ form.project_id(value=project.id) }}
			            {{ form.undelete(class="btn btn-info") }}
			            {{ form.permadelete(class="btn btn-danger") }}    
			        </form>
		        </div>
            </div>   
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}