{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }}- {{ _('All Projects') }}{% endblock %}


{% block page_content %}
<div class="page-header">
    <div class="col-sm-8">
        <h1>{{ _('All Current Projects') }}</h1>
	    <div class="panel panel-success">
	    {% for project in projects %}
	        <div class="panel-heading">{{ project.name }}</div>
		        <div class="panel-body">
		        <div class="col-sm-7">
		            <p>URL: {{ project.url }}</p>
		            <p>Info: {{ project.requirements }}</p>
		            <p>Id: {{ project.id }}</p>
		            <p>UserId: {{ project.author_id }}</p>
		        </div>
		        <div>
			        <p> {% if  project.deleted %}Project has been deleted by the user{% endif %}</p>
			        <form method="post" action="{{ url_for('admin.all_project') }}">
			            {{ form.csrf_token }}
			            {{ form.project_id(value=project.id) }}
			            {% if project.configured %}
				           {{ form.release(class="btn btn-info", disabled=True) }}
				           {{ form.deactivate(class="btn btn-danger") }}
				           {{ form.configure(class="btn btn-primary") }}
				        {% else %}
				           {{ form.release(class="btn btn-info") }}
			               {{ form.deactivate(class="btn btn-danger", disabled=True) }}
			               {{ form.configure(class="btn btn-primary") }}
			            {% endif %}
				           
			        </form>
		        </div> 
	        </div>   
	    {% endfor %}
	    </div>
	</div>
	<div class="col-sm-4">
	   <h1>{{ _('Pending Projects') }}</h1>
	   {% for project in pending_projects %}
	       {{ project.id }} - {{ project.name }} <br />
	   {% endfor %}
	</div>
</div>
{% endblock %}